{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/analysis.css') }}" >
<link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
{% endblock %}

{% block links %}
<li id="upload"><a href="{{ url_for('upload') }}">UPLOAD</a></li>
<li class="active" id="analysis"><a href="#">ANALYSIS</a></li>
{% endblock %}

{% block bodycontent %}
    <div id="blinkDiv">
        <h3>Blink Chart</h3>
        <canvas id="blinkChart" width="100%" height="30%"></canvas>
    </div>

    <div id="emotionDiv">
        <h3>Emotion Chart</h3>
        <canvas id="emotionChart" width="100%" height="30%"></canvas>
    </div>

    <div id="audioDiv">
        <h3>Audio Chart</h3>
        <canvas id="audioChart" width="100%" height="30%"></canvas>
    </div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
$( () => {

let blinkCtx = document.getElementById("blinkChart").getContext('2d');
let audioCtx = document.getElementById("audioChart").getContext('2d');
let emotionCtx = document.getElementById("emotionChart").getContext('2d');

let blink_graph_data = {{ blink_data|tojson }};
console.log(blink_graph_data)
//let blink_graph_data = [];
//{% for time in blink_data %}
 //   blink_graph_data.push()
 //   console.log({{  time }});
//{% endfor %}

var blinkChart = new Chart(blinkCtx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Blinks',
            labelColor: 'rgba(100, 123, 211, 1)',
            data: [{x: 3, y: 1}, {x: 5, y: 1}, {x: 6, y: 1}],
            pointBackgroundColor: 'rgba(100, 123, 211, 1)',
            pointRadius: 10
        },
        {
            label: 'Micro Expressions',
            data: [{x: 9, y: 2}, {x: 4, y: 2}, {x: 8, y: 2}],
            pointBackgroundColor: 'rgba(200, 123, 111, 1)',
            pointRadius: 10
        }
        ]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});


let audioChart = new Chart(audioCtx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

});

let emotionChart = new Chart(emotionCtx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }

});

});
</script>

{% endblock %}