#video_canvas {
    background-color: #E9E9E9;
    margin-top: 5px;
    margin-left: 15px;
}

#canvas-wrap { 
    position:relative

} 

.overlay_2 { 
    position:absolute; 
    top:100px;
    left:150px;
}

#video_canvas {
    width: 640px;
    height: 480px;
}

video {
    visibility: hidden;
    width: 320px;
    height: 240px;
}

.overlay { 
    position:absolute; 
    top:220px; 
    left:280px; 
}

.overlay p{
    color: #0d47a1;
}

#uploading {
    text-align: center;
    line-height: 10px;
}

#progressBarDiv {
    display: none;
}